
.title{
    display: flex;
    width: 800px;
    height: 100px;
    background-color: lightyellow;
    justify-content: space-between;
    align-items: center;
}
.main{
    display: flex;
    width: 800px;
    height: 700px;
    flex-direction: column;
    /* background-color: lightpink; */
    /* justify-content: space-around; */
    align-items: center;
}

.category{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 700px;
    height: 300px;
    /* background-color: lightsalmon; */
}
.contents{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    /* flex-direction: column; */
    width: 700px;
    height: 100px;
    background-color: lightseagreen;
}
.menu_2{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    /* flex-direction: column; */
    width: 700px;
    height: 300px;
    /* background-color: lightseagreen; */
}
.one{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: lightgoldenrodyellow;
}
.two{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: lightgray;
}

.three{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: lightskyblue;
}
.menu_list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 50px;
}