<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>냉장고에 재료넣기</h1>
    <form action="{%url 'add_refrigerator' user.pk %}" method='POST'>
        {% csrf_token %}
        <input type="text" placeholder="재료" name='material'>
        <input type="text" placeholder="유통기한" name='shelf_life'>
        
        <button type='submit'>재료넣기</button>
    </form>
</body>
</html>