<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>login</h1>
    {% if error.state %}
        <h2>{{ error.msg }}</h2>
    {% endif %}

    <form action="{% url 'login' %}" method='POST'>
        {% csrf_token %}
        <input type="text" placeholder='아이디를 입력하세요' name='user_id' />
        <br>
        <br>
        <input type="password" placeholder='비밀번호를 입력하세요' name='user_pw' />
        <br>
        <br>
        <button type='submit'>로그인하기</button>
    </form>
</body>
</html>