<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyPage</title>
</head>
<body>
    <h1>mypage!</h1>

    <!-- FoodUser -->
    <div>
        <h3>유저 정보</h3>
        <div>
            <div>
                id : {{user.get_username}}
            </div>
            <div>
                name : {{food_user.name}}
            </div>
            <div>
                gender : {{food_user.gender}}
            </div>
            <div>
                age : {{food_user.age}}
            </div>
            <div>
                Repmaterial : {{food_user.Repmaterial}}
            </div>
            <div>
                pretag : {{food_user.pretag}}
            </div>
        </div>
        <div>
            <a href="{% url 'edit_user' user.pk %}">내정보 수정하기</a>
        </div>
        
    </div>
    <br>

    <!-- MyRefrigerator -->
    <h3>냉장고 가계부</h3>
    <div>
        <a href="{% url 'add_refrigerator' user.pk %}">재료 추가하기</a>
    </div>
    
        {% for refrigerator in refrigerator_user.all %}
            <ol>
                <li>
                    <ul >
                        <a href="{%url 'edit_refrigerator' user.pk refrigerator.pk %}">
                            재료 : {{refrigerator.material}}
                        </a>
                    </ul>
                    <ul>
                        <label>생성날짜: {{refrigerator.food_time}} </label>
                    </ul>
                    <ul>
                        <label>유통기한 : {{refrigerator.shelf_life}} 일 남았습니다.</label>
                    </ul>
                </li>
            </ol>
        {% endfor %}


</body>
</html>